<%= link_to "Back to all users", admin_users_path %><br/>

<h2><%= @user.full_name %> (<%= link_to "edit", edit_admin_user_path(@user) %>, <%= link_to "delete", admin_user_path(@user), method: :delete, confirm: "You sure?" %>)</h2>

<h3><%= @user.email %></h3>
<h3>Admin: <%= @user.admin %></h3>
<h3>Reviews by <em><%= @user.full_name %></em></h3>

  <% @user.reviews.each do |review| %>
        <div class="col-md-4">

  <div class="thumbnail">

    <h2><%= link_to "#{review.movie.title}", movie_path(review) %></h2>
    <div class="caption">
    <p><%= review.text %></p>
    <p><%= review.rating_out_of_ten %>/10</p>
    <small>- <%= review.user.full_name %></small><br/>
    </div>
    </div>
    </div>
  <% end %>
